
#SplashScreen{
	border: 10px solid black;
	border-width: 1px;
	overflow: none;
	width: 320;
	height: 480;
	background-color:#9db09f;
    position:fixed;
    z-index:10000;
}



#SplashScreen input{
	width: 60%;
	height: 10%;
	margin-top: 45% ;
	margin-left: 20%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}



#SplashScreen a{
	width: 20%;
	height: 20%;
	background-color: red;
	border: 3px solid green;
	margin-left: 45%;
	margin-top: 20%;
}